
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.list-group li{
  color: white;
 
}
.list-group a{
  
  text-decoration: none;
}
.bg-light{
  background-color: var(--main-color)!important;
}
a li.bg-light:focus, a li.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
  background-color: rgb(195, 169, 186) !important;
  color: var(--main-color); 
  border-left: 5px solid var(--main-color);
  
}






/*

.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    display: block;
    z-index: 10000;
    left: 0;
    top:60px;
    background-color:rgba(184, 184, 184, 0);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
    
  }
  
  .ul-column {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
  }

  .sidenav .active {
    border-left: 5px solid var(--main-color);
    background-color: rgb(195, 169, 186);
  }
  .sidenav li:hover {
    background-color: rgb(195, 169, 186);
    cursor:pointer;  
    color: var(--main-color);  
  }

  .sidenav  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: var(--main-color);
    display: block;
    text-align: center;
  
  }
  
  .sidenav a:hover {
    text-decoration:none !important; 
    color: var(--main-color);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 10px;}
    .sidenav a {font-size: 18px;}
  }*/